<!-- nav bar-->
<nav id="navigation-header" _ngcontent-jhq-c0="" _ngcontent-hnm-c0=""
  class="navbar navbar-expand-md navbar-dark fixed-top">
  <div _ngcontent-jhq-c0="" class="logo-container ml-0 sm:ml-4 mr-4 relative p-1">
    <h2 class="mb-0">Roger</h2>
  </div>

  <!-- <div _ngcontent-jhq-c0="" class="flex items-center mr-auto">
    <div _ngcontent-jhq-c0="" class="leading-none mb-0 lg:mb-1 feature-logo">
      <p _ngcontent-jhq-c0="" class="hidden lg:inline-block align-middle m-0 w-full sm:w-auto">
        Featured on
      </p>
      <img _ngcontent-jhq-c0="" alt="CNN" width="42" height="12" src="https://d16zz69zs6o3lx.cloudfront.net/img/CNN_small.png" class="hidden lg:block">
    </div>
  </div> -->
  <div _ngcontent-jhq-c0="" _ngcontent-hnm-c0="" id="navbarCollapse" class="navbar-collapse" style="">
    <ul class="flex flex-row px-4 items-center ml-auto" style="">

      <li class="nav-item justify-center">
        <a id="btn_travel_docs" class="nav-link nav-link-dropdown-btn px-4">
          <span class="text-black md:text-primary">Travel Documents</span>
        </a>
      </li>
      <!-- <li class="nav-item justify-center">
<a id="btn_subscription" class="nav-link nav-link-dropdown-btn lg:px-4" href="/plus">
  <span class="">iVisa Plus</span>
</a>
</li> -->
      <li class="nav-item flex-col nav-user">
        <a [attr.aria-expanded]="false"
          class="h-full flex items-center px-4 py-2 rounded-md duration-100 transition-all hover:bg-gray-200 dropdown-js"
          id="renewPassportBtn" href="javascript:void(0)" aria-haspopup="true">
          <span class="text-dark text-sm pointer-events-none">Passport</span>
          <svg class="pointer-events-none h-3 w-3 v2-h-3 v2-w-3 text-dark mr-2 ml-2" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"><!-- Font Awesome Free 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) -->
            <path
              d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z">
            </path>
          </svg>
        </a>
        <div aria-labelledby="renewPassportBtn"
          class="dropdown-menu dropdown-menu-header w-56 rounded-md shadow-lg ring-1 ring-black ring-opacity-25 focus:outline-none bg-white origin-top-right right-0">
          <a href="/passport-renewal/united-states"
            class="text-gray-700 hover:text-gray-925 hover:bg-gray-200 block px-4 py-2 text-sm">US Passport Renewal</a>
          <a href="/passport-renewal/united-kingdom"
            class="text-gray-700 hover:text-gray-925 hover:bg-gray-200 block px-4 py-2 text-sm">UK Passport Renewal</a>
          <a href="/passport-renewal/canada"
            class="text-gray-700 hover:text-gray-925 hover:bg-gray-200 block px-4 py-2 text-sm">Canada Passport
            Renewal</a>
          <a href="/passport-renewal/ireland"
            class="text-gray-700 hover:text-gray-925 hover:bg-gray-200 block px-4 py-2 text-sm">Ireland Passport
            Renewal</a>
        </div>
      </li>
      <li class="nav-item justify-center">
        <a id="btn_passport_photos" class="nav-link nav-link-dropdown-btn px-0 lg:px-4" href="/photos">
          <span class="">Photos</span>
        </a>
      </li>
      <li class="nav-item justify-center mt-2 ml-4 md:mt-0 md:ml-0">
        <button class="w-full py-1 px-0 text-primary text-base hover:text-secondary hidden text-left lg:px-4"
          id="save-and-exit-button">
          Save &amp; Exit </button>
      </li>
      <div
        class="text-base flex items-center px-4 py-2 rounded-md duration-100 cursor-pointer transition-all hover:bg-gray-200"
        onclick="window.mount_currency_selector()">
        <div class="flex items-center uppercase">
          <svg class=" h-5 w-5 v2-h-5 v2-w-5  mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9">
            </path>
          </svg>

          <span class="whitespace-nowrap">en</span>
          <span class="mx-2">|</span>
          <div class="whitespace-nowrap" id="currencyHeader">$ USD</div>
        </div>
      </div>

      <li id="logged-in-header-transformer" class="hidden lg:block text-sm">
        <a class="h-full flex items-center px-4 py-2 rounded-md duration-100 transition-all hover:bg-gray-200" href=""
          aria-label="My Account">
          <svg class="text-black h-6 w-6 v2-h-6 v2-w-6  mr-2" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z">
            </path>
          </svg>

          <span class="text-dark">Login</span>
        </a>
      </li>

    </ul>
  </div>
</nav>
<!-- nav bar-->

<router-outlet></router-outlet>

<!--footer-->
<div>
  <footer class="bg-primary w-full">

    <div class="pt-8 pb-12 sm:pb-2 w-full">
      <div class="flex flex-col lg:flex-row items-center px-8 max-w-7xl mx-auto">
        <div class="w-full lg:w-5/12">
          <h3 class="text-white text-lg">Let's stay in touch!</h3>
          <p class="text-white text-sm">Join our newsletter to receive the best traveling tips</p>
        </div>
        <div class="w-full lg:w-7/12 relative">
          <form class="flex items-center" onsubmit="subscribeToNewsletter(event)">
            <input id="newsletter-email" name="newsletter-email" type="email" placeholder="Your Email"
              aria-label="newsletter-email" class="rounded-lg w-10/12 mr-6" required="">

            <div class="hp-email" aria-hidden="true">
              <label for="hp-email" tabindex="-1">Confirm your email</label>
              <input id="hp-email" type="text" name="hp-email" autocomplete="off" tabindex="-1" class="w-1">
            </div>

            <button id="newsletter-btn" type="submit" data-btn-text="Join Now"
              class="btn btn--secondary btn--std flex-row-reverse py-2 whitespace-nowrap">
              <span>
                Join Now </span>

            </button>

          </form>
          <p class="subscribed-text absolute left-0 hidden text-white text-sm">
            Thanks! Please check your email and confirm you want to join our Newsletter. </p>
        </div>
      </div>
    </div>

    <script>
      function subscribeToNewsletter(event) {
        event.preventDefault();
        const email = document.querySelector('#newsletter-email');
        const button = document.querySelector('#newsletter-btn');
        const hp = document.querySelector('#hp-email').value;
        if (hp !== '') {
          return;
        }

        if (email.value !== null) {
          axios.post(route('public.klaviyo_subscribe_list', {
            'email': email.value,
            'source': 'website footer',
            'list': 'WYBBQj'
          }))
            .then(() => {
              document.querySelector('.subscribed-text').classList.remove('hidden');
              button.innerText = 'Sent!';
              button.disabled = true;
              email.disabled = true;
            }).catch(e => {
              console.log('Error subscribing to newsletter:', e)
            })
        }
      }
    </script>

    <style>
      .hp-email {
        z-index: -1000;
        position: absolute;
        max-width: 200px;
      }

      .subscribed-text {
        top: 105%;
      }

      @media screen and (min-width: 600px) {
        .subscribed-text {
          top: 110%;
        }
      }
    </style>
    <div class="bg-primary text-white border-b border-white mb-px">
      <div class="container py-10 px-8 flex flex-col md:flex-row lg:pb-6 max-w-7xl lg:m-auto">
        <div class="flex flex-col md:flex-row w-4/6">
          <div class="flex items-start">
            <h2> Roger </h2>
          </div>
          <div class="flex flex-col md:flex-row md:w-full md:justify-evenly">
            <ul class="p-0 mb-12">
              <li class="opacity-75 mb-4">Documents</li>
              <li class="mb-3">
                <a href="https://www.ivisa.com" class="text-sm text-white font-normal hover:text-white">
                  Travel Documents </a>
              </li>
              <li class="mb-3">
                <a href="/photos" class="text-sm text-white font-normal hover:text-white">
                  Passport Photos </a>
              </li>
              <li class="mb-3">
                <a href="https://www.ivisa.com/passport-renewal"
                  class="text-sm text-white font-normal hover:text-white">
                  Passport Renewals </a>
              </li>
              <li class="mb-3">
                <a href="https://www.ivisa.com/embassies" class="text-sm text-white font-normal hover:text-white">
                  Embassy Listings </a>
              </li>

            </ul>
            <ul class="p-0 mb-12">
              <li class="opacity-75 mb-4">Roger</li>
              <li class="mb-3">
                <a href="https://www.ivisa.com/about-us" class="text-sm text-white font-normal hover:text-white">
                  About Us </a>
              </li>
              <li class="mb-3">
                <a href="https://ivisa.breezy.hr" class="text-sm text-white font-normal hover:text-white">
                  Jobs </a>
              </li>
              <li class="mb-3">
                <a href="https://www.ivisa.com/blog" class="text-sm text-white font-normal hover:text-white">
                  Blog </a>
              </li>
              <li class="mb-3">
                <a href="https://manage.kmail-lists.com/subscriptions/subscribe?a=Y8KLUV&amp;g=WYBBQj"
                  class="text-sm text-white font-normal hover:text-white">
                  Join our Newsletter </a>
              </li>
              <li class="mb-3">
                <a href="https://travel.ivisa.com/referral/" class="text-sm text-white font-normal hover:text-white">
                  Refer a Friend </a>
              </li>
            </ul>
            <ul class="p-0 ">
              <li class="opacity-75 mb-4">My Account</li>
              <li class="mb-3">
                <a href="https://www.ivisa.com/login" class="text-sm text-white font-normal hover:text-white">
                  Login </a>
              </li>
              <li class="mb-3">
                <a href="https://www.ivisa.com/contact-us" class="text-sm text-white font-normal hover:text-white">
                  Contact Us </a>
              </li>
              <li class="mb-3">
                <a href="https://www.ivisa.com/faqs" class="text-sm text-white font-normal hover:text-white">
                  FAQ </a>
              </li>
              <li class="mb-3">
                <a href="https://www.ivisa.com/register" class="text-sm text-white font-normal hover:text-white">
                  Register </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="flex flex-col md:w-2/6 items-center md:items-end">
          <div class="flex flex-col md:flex-row justify-center items-center mb-8">
            <!---->
          </div>
          <div class="flex items-end">
            <div class="p-0 text-right flex justify-center flex-col w-full">
              <span class="hidden text-xs md:flex flex-row-reverse mb-2">Scan the QR code to download the Roger
                app</span>
              <a class="flex flex-row-reverse"
                href="https://app.adjust.com/kgga4s1?deep_link=com.ivisa.services%3A%2F%2Fhome">
                <img alt="Link to Google Play Store" class="h-12 md:h-10" width="120" height="40"
                  src="https://d16zz69zs6o3lx.cloudfront.net/img/play_store.svg">
              </a>
              <a class="flex flex-row-reverse"
                href="https://app.adjust.com/kgga4s1?deep_link=com.ivisa.services%3A%2F%2Fhome">
                <img alt="Link to Apple App Store" class="h-12 md:h-10" width="120" height="40"
                  src="https://d16zz69zs6o3lx.cloudfront.net/img/app_store.svg">
              </a>
            </div>

            <div class="hidden md:block w-2/3 ml-6">
              <img alt="QR code link to App Store"
                src="https://d16zz69zs6o3lx.cloudfront.net/img/apple_adjust_qr_code.png">
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="bg-primary w-full m-auto">
      <div class="container md:flex">
        <div
          class="flex flex-col justify-center items-center px-2 sm:px-0 pt-8 pb-6 lg:py-6 mb-0 md:items-start md:w-1/3 mr-4">
          <p class="text-white text-center text-xs mb-0 max-w-xs lg:py-0 lg:text-left lg:max-w-full leading-normal">
            © 2014-2023 Roger.com. All rights reserved. Roger and Roger logo are registered trademarks of Roger.com.
          </p>
        </div>
        <div class="grid md:flex md:items-center grid-rows-2 grid-cols-2 text-center mx-2 pb-6 md:pb-0 gap-y-6">
          <a class="text-white underline text-xs hover:text-white hover:underline md:mx-4"
            href="https://www.ivisa.com/terms-and-conditions">Terms and Conditions</a>
          <a class="text-white underline text-xs hover:text-white hover:underline md:mx-4"
            href="https://www.ivisa.com/privacy">Privacy Policy</a>
          <a class="text-white underline text-xs hover:text-white hover:underline md:mx-4"
            href="https://www.ivisa.com/affiliates">Affiliates &amp; Partnerships</a>
        </div>
        <div class="flex items-center pb-20 md:pb-0" onclick="window.mount_currency_selector()">
          <div
            class="text-base flex items-center px-4 py-2 rounded-md duration-100 cursor-pointer transition-all border-1 border-white text-white hover:opacity-75 w-full justify-center flex-nowrap">
            <div class="flex items-center">
              <svg class=" h-5 w-5 v2-h-5 v2-w-5  mr-2" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9">
                </path>
              </svg>

              <span class="whitespace-nowrap">English - <span class="uppercase">en</span></span>
              <span class="mx-2">|</span>
              <div class="whitespace-nowrap" id="currencyFooter">$ USD</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script>
    function changeNavigationHeaderIfLoggedIn() {
      if (document.cookie.indexOf('ivlogged_in') === -1) {
        return;
      }

      const profileIcon = document.querySelector('#logged-in-header-transformer svg');
      const profileIconMobile = document.querySelector('#btn_header_login');

      if (profileIcon === null && profileIconMobile === null) {
        return;
      }

      const anchorTag = document.querySelector('#logged-in-header-transformer a');
      const anchorTagMobile = document.querySelector('#logged-in-header-transformer-mobile a');

      window.axios.get(window.route('public.user_information')).then(
        function (res) {
          if (res.data['no_auth_user'] === true) {
            return;
          }

          profileIcon.remove();
          anchorTag.innerHTML = res.data['welcome_message'] + ', ' + res.data['first_name'];
          anchorTag.setAttribute('href', res.data['dashboard_url']);

          profileIconMobile.remove();
          anchorTagMobile.innerHTML = res.data['welcome_message'] + ', ' + res.data['first_name'];
          anchorTagMobile.setAttribute('href', res.data['dashboard_url']);
          anchorTagMobile.classList.add('nav-link', 'nav-link-dropdown-btn', 'p-0');
          document.querySelector('#logged-in-header-transformer-mobile').classList.remove('mx-4');
        }
      )
    }

    addEventListener('pageshow', function () {
      loadjs.ready('app', function () {
        changeNavigationHeaderIfLoggedIn()
      });
    });
  </script>
</div>
<!--footer-->