<div class="pb-8 lg:mt-10">
  <div>
    <div class="breadcrumbs">
      <div class="text-gray-900 container pb-4 pt-6">
        <a class="font-normal text-gray-900" href="#">
          <span class="cursor-pointer">Home</span>
        </a>
        <span> &gt; </span>
        <a class="font-normal text-gray-900" href="#">
          <span class="cursor-pointer">{{travelCountry}}</span>
        </a>
        <span> &gt; </span>
        <h1 class="inline text-base text-gray-900">Apply Now for {{travelCountry}} Travel Documents</h1>
      </div>
    </div>
    <div id="h1-tag-container" style="display: block;">
      <div class="container my-6">
        <div class="text-black m-0 mb-0 mt-0 text-3xl sm:text-4xl flex" style="line-height: 116%">
          Apply Now for {{travelCountry}} Travel Documents
        </div>
      </div>
    </div>
    <div class="mb-12 sm:mb-0 container">
      <div>
        <div>
          <div class="flex flex-col w-full items-start md:flex-row"><!---->
            <div id="question-container" class="flex-1 flex-col lg:flex-row items-start w-full"><!---->
              <div class="w-full mx-auto order-2 lg:order-none order-2 lg:pr-8">
                <div>
                  <div class="mb-4 pb-4 rounded-md border-1 border-solid">
                    <div
                      class="w-full leading-tight text-xl sm:text-2xl flex items-center justify-between mt-4 md:mt-0 py-4 md:p-6 relative rounded-lg text-dark font-bold">
                      <div class="bg-black absolute top-0 left-0 w-1 h-full" style="border-top-left-radius: inherit;">
                      </div><span class="ml-4 md:ml-0">Your Application</span>
                      <div class="flex"><!----><!----><!----></div>
                    </div><!---->
                    <div class="w-full md:px-0 pt-5 flex flex-col justify-center">
                      <div class="card-body md:px-5">
                        <div class="form-row flex flex-col lg:flex-row">
                          <div class="form-group flex flex-col justify-start max-w-full col-12 col-md-10">
                            <div class="ivisa-input-wrapper w-full h-full" data-ivisa-slug="common_nationality_country"
                              data-ivisa-question-selector="general.common_nationality_country">
                              <div class="w-full h-full" data-v-402b6d91=""><label class="foxtrot"
                                  data-v-402b6d91="">Where am I from? <!----></label>
                                <div class="relative" data-v-402b6d91=""><!---->
                                  <div modelmodifiers="[object Object]" data-v-402b6d91="">
                                    <div>
                                      <div class="dropdown v2-relative" tabindex="0" modelmodifiers="[object Object]"
                                        data-dusk="dropdown-general.common_nationality_country"
                                        name="general.common_nationality_country" required="true">
                                        <div
                                          class="text-dark border-gray-300 border-1 foxtrot Label_02_R v2-rounded-pill v2-w-full focus:v2-ring-gray-500 focus:v2-border-gray-500 hover:v2-border-gray-500 v2-border-1 v2-border-gray-300 v2-p-28 v2-truncate v2-bg-white v2-flex v2-items-center v2-cursor-pointer focus:v2-outline-none v2-border-solid"
                                          data-flip="false" style="height: 2.6rem;"><!----><!---->
                                          <div
                                            class="v2-flex v2-items-center v2-h-[36px] flex-1 v2-flex-1 v2-pr-16 pl-4 v2-pl-16 truncate v2-truncate"
                                            data-dusk="filter-value"><span>Nepal - NP</span></div>
                                          <div class="inline-block"><svg
                                              class="v2-h-30 v2-w-30 h-5 w-5 mr-0 ml-0 text-green-500 v2-text-green-500 cursor-pointer"
                                              fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                                              viewBox="0 0 512 512"><!-- Font Awesome Free 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) -->
                                              <path
                                                d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                                              </path>
                                            </svg></div>
                                        </div>
                                        <div
                                          class="dropdown-filter z-50 v2-shadow-lg shadow-lg dropdown-menu v2-w-full w-full v2-relative relative text-dark"
                                          style="padding-top: 0px;">
                                          <div class="p-2"><input name="doNotAutofill0.19264987458944227" type="search"
                                              autocomplete="off" role="combobox" aria-haspopup="true"
                                              aria-expanded="false"
                                              class="v2-px-24 v2-py-20 v2-border-0 v2-outline-0 v2-rounded-t-xl v2-w-full w-full h-9 pl-8 text-base rounded-md bg-white border-1 border-solid border-gray-300 flex items-center focus:outline-none focus:border-gray-300 focus:v2-ring-0 focus:v2-outline-none focus:v2-ring-0">
                                          </div><span class="absolute v2-absolute v2-hidden"
                                            style="top: 16px; left: 16px;">
                                            <div class="inline-block"><svg class="v2-h-24 v2-w-24 h-4 w-4 mr-0 ml-0  "
                                                fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 512 512"><!-- Font Awesome Free 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) -->
                                                <path
                                                  d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                                                </path>
                                              </svg></div>
                                          </span><!---->
                                        </div>
                                      </div>
                                    </div>
                                  </div><span class="absolute right-0 top-0 h-full flex items-center mr-4"
                                    data-v-402b6d91="">
                                    <div class="inline-block" data-v-402b6d91=""><svg
                                        class="v2-h-30 v2-w-30 h-5 w-5 mr-0 ml-0 text-green-500 " fill="currentColor"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 512 512"><!-- Font Awesome Free 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) -->
                                        <path
                                          d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                                        </path>
                                      </svg></div>
                                  </span>
                                </div><!----><!---->
                              </div>
                            </div><!---->
                          </div>
                          <div class="form-group flex flex-col justify-start max-w-full col-12 col-md-10">
                            <div class="ivisa-input-wrapper w-full h-full" data-ivisa-slug="visa_type_id"
                              data-ivisa-question-selector="general.visa_type_id">
                              <div class="w-full h-full" data-v-402b6d91=""><label class="foxtrot"
                                  data-v-402b6d91="">Applying for <!----></label>
                                <div class="relative" data-v-402b6d91=""><!---->
                                  <div class="form-row items-end flex mb-2" modelmodifiers="[object Object]"
                                    data-v-402b6d91="">
                                    <div class="w-full relative">
                                      <div>
                                        <div><select class="foxtrot mr-1 truncate hideBackgroundImage"
                                            data-dusk="dropdown-general.visa_type_id" required="">
                                            <option value="5480">Visitor Visa - 10 years, Multiple Entry</option>
                                            <option value="5108">Advance CBSA Declaration (ArriveCAN) - 30 days, Single
                                              Entry</option>
                                          </select></div>
                                      </div><span class="absolute right-0 top-0 h-full flex items-center mr-5">
                                        <div class="inline-block"><svg
                                            class="v2-h-30 v2-w-30 h-5 w-5 mr-0 ml-0 text-green-500 "
                                            fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 512 512"><!-- Font Awesome Free 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) -->
                                            <path
                                              d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                                            </path>
                                          </svg></div>
                                      </span>
                                    </div>
                                    <div class="text-black self-end w-full">
                                      <div class="flex items-center"><span
                                          class="font-bold text-sm md:ml-2 mt-6">Government Fee ( <span>USD
                                            $139.00</span><!----> ) <a class="mt-2 block md:hidden"
                                            href="javascript:void(0)">
                                            <div class="inline-block"><svg
                                                class="v2-h-18 v2-w-18 h-3 w-3 mr-2 ml-2 v2-mr-8 v2-ml-8  "
                                                fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 512 512"><!-- Font Awesome Free 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) -->
                                                <path
                                                  d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z">
                                                </path>
                                              </svg></div> Important Information
                                          </a></span><!----></div><!---->
                                    </div>
                                  </div><!---->
                                </div><!----><!---->
                              </div>
                            </div><!---->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div><!----><!---->
                </div>
                <div><!----></div>
                <div><!----></div>
                <div><!----></div>
                <div><!----></div>
                <div><!----></div>
                <div><!----></div>
                <div id="paynow"><!----><!----></div>
                <div class="flex mt-4 justify-between"><!----><!----><button
                    class="btn btn--primary btn--std btnContinue hidden md:block" (click)="fillInformation()" id="btnContinueUnderSection"
                    type="submit" data-btn-text="Start Now"><span class="">Start Now</span><!----></button><!---->
                </div>
              </div>
              <div style="margin-bottom: 150px;"></div>
            </div>
            <div class="flex flex-col sticky lg:w-1/3" style="top: 7rem;"><!---->
              <div class="text-black hidden sidebar lg:flex flex-col rounded bg-gray-100 shadow-under px-6 py-4">
                <div class="flex border-gray-500 border-b-1 border-dashed mb-4 pb-4"><span class="bold mr-2">{{travelCountry}}
                    Visitor Visa</span></div>
                <div class="grid gap-y-4">
                  <div>
                    <div class="text-sm text-gray-700">Valid for</div>
                    <div class="flex items-center">
                      <div class="inline-block"><svg class="v2-h-18 v2-w-18 h-3 w-3 mr-2 v2-mr-8 text-primary "
                          fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 448 512"><!-- Font Awesome Free 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) -->
                          <path
                            d="M436 160H12c-6.627 0-12-5.373-12-12v-36c0-26.51 21.49-48 48-48h48V12c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v52h128V12c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v52h48c26.51 0 48 21.49 48 48v36c0 6.627-5.373 12-12 12zM12 192h424c6.627 0 12 5.373 12 12v260c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V204c0-6.627 5.373-12 12-12zm333.296 95.947l-28.169-28.398c-4.667-4.705-12.265-4.736-16.97-.068L194.12 364.665l-45.98-46.352c-4.667-4.705-12.266-4.736-16.971-.068l-28.397 28.17c-4.705 4.667-4.736 12.265-.068 16.97l82.601 83.269c4.667 4.705 12.265 4.736 16.97.068l142.953-141.805c4.705-4.667 4.736-12.265.068-16.97z">
                          </path>
                        </svg></div><span>10 years after issued</span>
                    </div>
                  </div>
                  <div>
                    <div class="text-sm text-gray-700">Number of Entries</div>
                    <div class="flex items-center">
                      <div class="inline-block"><svg class="v2-h-18 v2-w-18 h-3 w-3 mr-2 v2-mr-8 text-primary "
                          fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 512 512"><!-- Font Awesome Free 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) -->
                          <path
                            d="M500.33 0h-47.41a12 12 0 0 0-12 12.57l4 82.76A247.42 247.42 0 0 0 256 8C119.34 8 7.9 119.53 8 256.19 8.1 393.07 119.1 504 256 504a247.1 247.1 0 0 0 166.18-63.91 12 12 0 0 0 .48-17.43l-34-34a12 12 0 0 0-16.38-.55A176 176 0 1 1 402.1 157.8l-101.53-4.87a12 12 0 0 0-12.57 12v47.41a12 12 0 0 0 12 12h200.33a12 12 0 0 0 12-12V12a12 12 0 0 0-12-12z">
                          </path>
                        </svg></div><span>Multiple Entry</span>
                    </div>
                  </div>
                  <div>
                    <div class="text-sm text-gray-700">Max Stay</div>
                    <div class="flex items-center">
                      <div class="inline-block"><svg class="v2-h-18 v2-w-18 h-3 w-3 mr-2 v2-mr-8 text-primary "
                          fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 448 512"><!-- Font Awesome Free 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) -->
                          <path
                            d="M436 160H12c-6.6 0-12-5.4-12-12v-36c0-26.5 21.5-48 48-48h48V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h128V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h48c26.5 0 48 21.5 48 48v36c0 6.6-5.4 12-12 12zM12 192h424c6.6 0 12 5.4 12 12v260c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V204c0-6.6 5.4-12 12-12zm257.3 160l48.1-48.1c4.7-4.7 4.7-12.3 0-17l-28.3-28.3c-4.7-4.7-12.3-4.7-17 0L224 306.7l-48.1-48.1c-4.7-4.7-12.3-4.7-17 0l-28.3 28.3c-4.7 4.7-4.7 12.3 0 17l48.1 48.1-48.1 48.1c-4.7 4.7-4.7 12.3 0 17l28.3 28.3c4.7 4.7 12.3 4.7 17 0l48.1-48.1 48.1 48.1c4.7 4.7 12.3 4.7 17 0l28.3-28.3c4.7-4.7 4.7-12.3 0-17L269.3 352z">
                          </path>
                        </svg></div><span>180 days Per Entry</span>
                    </div>
                  </div>
                  <div>
                    <div class="text-sm text-gray-700">Passport validity requirements</div>
                    <div class="flex items-start xl:w-5/6">
                      <div class="inline-block"><svg class="v2-h-18 v2-w-18 h-3 w-3 mr-2 v2-mr-8 text-primary mt-1"
                          fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 448 512"><!-- Font Awesome Free 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) -->
                          <path
                            d="M129.62 176h39.09c1.49-27.03 6.54-51.35 14.21-70.41-27.71 13.24-48.02 39.19-53.3 70.41zm0 32c5.29 31.22 25.59 57.17 53.3 70.41-7.68-19.06-12.72-43.38-14.21-70.41h-39.09zM224 286.69c7.69-7.45 20.77-34.42 23.43-78.69h-46.87c2.67 44.26 15.75 71.24 23.44 78.69zM200.57 176h46.87c-2.66-44.26-15.74-71.24-23.43-78.69-7.7 7.45-20.78 34.43-23.44 78.69zm64.51 102.41c27.71-13.24 48.02-39.19 53.3-70.41h-39.09c-1.49 27.03-6.53 51.35-14.21 70.41zM416 0H64C28.65 0 0 28.65 0 64v384c0 35.35 28.65 64 64 64h352c17.67 0 32-14.33 32-32V32c0-17.67-14.33-32-32-32zm-80 416H112c-8.8 0-16-7.2-16-16s7.2-16 16-16h224c8.8 0 16 7.2 16 16s-7.2 16-16 16zm-112-96c-70.69 0-128-57.31-128-128S153.31 64 224 64s128 57.31 128 128-57.31 128-128 128zm41.08-214.41c7.68 19.06 12.72 43.38 14.21 70.41h39.09c-5.28-31.22-25.59-57.17-53.3-70.41z">
                          </path>
                        </svg></div> Passport needs to be valid for: 186 days <br>After: arrival
                    </div>
                  </div>
                </div>
              </div><!---->
              <div class="left-0 bottom-0 w-full fixed md:hidden bg-white p-4"
                style="z-index: 1000; box-shadow: rgba(17, 18, 17, 0.18) 0px 0px 16px 0px;">
                <div class="flex justify-between items-center">
                  <p class="text-dark mb-0 leading-none"><span class="bold text-lg">Total: TBD</span></p><button
                    class="btn btn--primary btn--std btnContinue" (click)="fillInformation()" id="btnContinueUnderSectionMobile" type="submit"
                    data-btn-text="Start Now"><span class="">Start Now</span><!----></button>
                </div>
              </div>
            </div>
          </div><!----><!----><!----><!---->
        </div>
      </div>
    </div>
  </div>
</div>