<body>
    
    <div class="row px-5 py-5">
        <div class="col-sm">
            <div class="card">
                <img src="../../assets/img/jpt.jpg" class="card-img-top" >
                
                <div class="card-body">
                    <h5 class="card-title">CEO</h5>
                  <p class="card-text">Jessa is the CEO of the company. She manages all the head operational work.</p>
                  <a href="#" class="btn btn-primary">More about her</a>
                </div>
              </div>
        </div>
        <div class="col-sm">
            <div class="card" >
                <img class="card-img-top" src="../../assets/img/o.jpg" >
                <div class="card-body">
                    <h5 class="card-title">Director</h5>
                    <p class="card-text">Remira is the director of the company. She oversees the company policies and rules.</p>
                    <a href="#" class="btn btn-primary">More about her</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <img class="card-img-top" src="../../assets/img/w.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Department Head</h5>
                    <p class="card-text">Sino is the head of department. She manages all the staff and there works.</p>
                    <a href="#" class="btn btn-primary">More about her.</a>
                </div>
            </div>
        </div>


    </div>
</body>