<body>
      <!-- Carousel wrapper -->
  <div id="introCarousel" class="carousel slide carousel-fade shadow-2-strong" data-ride="carousel" >
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#introCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#introCarousel" data-slide-to="1"></li>
      <li data-target="#introCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Inner -->
    <div class="carousel-inner">
      <!-- Single item -->
      <div class="carousel-item active">
        <div class="mask carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.6);">
          <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white text-center">
              <h1 class="mb-3">Nature</h1>
              <h5 class="mb-4">Place to be at Peace</h5>
              <a class="btn btn-outline-light btn-lg m-2" href="#"
                role="button" >More</a>
              <a class="btn btn-outline-light btn-lg m-2" href="#" 
                role="button">Beauty</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Single item -->
      <div class="carousel-item">
        <div class="mask carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.3);">
          <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white text-center">
              <h2>You can place here any content</h2>
            </div>
          </div>
        </div>
      </div>

      <!-- Single item -->
      <div class="carousel-item">
        <div class="mask carousel-caption d-none d-md-block" style="
            background: linear-gradient(
              45deg,
              rgba(29, 236, 197, 0.7),
              rgba(91, 14, 214, 0.7) 100%
            );
          ">
          <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white text-center">
              <h2>And cover it with any nature</h2>
              <a class="btn btn-outline-light btn-lg m-2" href="# " target="_blank" role="button">Learn
                about masks</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Inner -->

    <!-- Controls -->
    <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <!-- Carousel wrapper -->
    <!-- Cards Section -->
    <div class="row px-5 py-5">
        <div class="col-sm">
            <div class="card">
                <img src="../../assets/img/jpt.jpg" class="card-img-top" >
                
                <div class="card-body">
                    <h5 class="card-title">CEO</h5>
                  <p class="card-text">Jessa is the CEO of the company. She manages all the head operational work.</p>
                  <a href="#" class="btn btn-primary">More about her</a>
                </div>
              </div>
        </div>
        <div class="col-sm">
            <div class="card" >
                <img class="card-img-top" src="../../assets/img/o.jpg" >
                <div class="card-body">
                    <h5 class="card-title">Director</h5>
                    <p class="card-text">Remira is the director of the company. She oversees the company policies and rules.</p>
                    <a href="#" class="btn btn-primary">More about her</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <img class="card-img-top" src="../../assets/img/w.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Department Head</h5>
                    <p class="card-text">Sino is the head of department. She manages all the staff and there works.</p>
                    <a href="#" class="btn btn-primary">More about her.</a>
                </div>
            </div>
        </div>


    </div>
    <!-- Cards Section Closed -->

    <div> 
        <h1 class = "fade"> Trying some fading in Transition</h1>
    </div>
</body>