<div *ngIf="showAlert">
  <alert [dismissOnTimeout]="2000" type="danger" (onClosed)="onAlertClose()">
    You have to select <strong>Travel Destination</strong>.
  </alert>
</div>
<div class="flex items-center bg-gray-custom">
  <div class="flex container pt-8 lg:pt-16 pb-8 lg:pb-0">

    <div class="container flex">
      <div class="w-full lg:w-7/12 xl:w-8/12 -mr-24">
        <h1 class="lg:text-left mt-12 mb-4 text-gray-950 w-full lg:w-11/12">
          Find Visa information for all countries and apply today.
        </h1>
        <h2 class="hidden lg:block text-left mb-6 text-dark text-2xl w-11/12">
          Focus on your trip, not paperwork. Let us help you easily get your travel documents.
        </h2>

        <!-- Carousel-->
        <div class="w-full" data-vue-component="visa-checker" data-vue-props="" data-v-app="">
          <form [formGroup]="form" (ngSubmit)="onSubmit()"
            class="w-full v2-w-full v2-max-content max-content mx-auto v2-mx-auto max-w-container v2-max-w-container px-2 rounded-md v2-h-full h-full flex v2-flex flex-col v2-flex-col v2-gap-x-32 v2-gap-y-24 my-0 v2-my-0 items-end v2-items-end widget-visa-checker home-widget mb-0 flex-col z-20"
            split-visa-checker="false">
            <span class="hidden v2-hidden w-full mb-4 text-white text-center text-lg sm:text-2xl inline-block">Check
              Visa Requirements</span>
            <div class="flex flex-1 w-full flex-wrap v2-gap-16 v2-w-full v2-flex v2-flex-1 v2-flex-col md:v2-flex-row">
              <div
                class="m-0 py-0 intro-item md:w-1/2 px-2 h-24 md:mb-0 flex flex-col justify-center items-center p-0 w-full relative mb-1 rounded-tl-md rounded-tr-md v2-w-full md:v2-w-1/2">
                <h4 class="mb-2 w-full Title_06_Sb v2-mb-8 v2-text-gray-500 pl-0 text-dark">Where am I From?</h4>
                <div class="dropdown v2-relative w-full max-w-full" tabindex="0" id="countryFrom">
                  <div (click)="toggleDropdown()"
                    class="text-dark border-gray-300 border-1 foxtrot Label_02_R v2-rounded-pill v2-w-full focus:v2-ring-gray-500 focus:v2-border-gray-500 hover:v2-border-gray-500 v2-border-1 v2-border-gray-300 v2-p-28 v2-truncate v2-bg-white v2-flex v2-items-center v2-cursor-pointer focus:v2-outline-none v2-border-solid"
                    data-flip="false" style="height: 2.6rem;">
                    <div class="inline-block">
                      <svg class="v2-h-18 v2-w-18 h-3 w-3 ml-2 v2-ml-8 text-primary cursor-pointer v2-hidden"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <!-- Font Awesome Free 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) -->
                        <path
                          d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200z">
                        </path>
                      </svg>
                    </div>
                    <!---->
                    <div
                      class="v2-flex v2-items-center v2-h-[36px] flex-1 v2-flex-1 v2-pr-16 pl-2 v2-pl-8 truncate v2-truncate"
                      data-dusk="filter-value"><span>{{ selectedCountry ? selectedCountry: 'Nepal - NP' }}</span></div>
                    <div class="inline-block">
                      <svg class="v2-h-18 v2-w-18 h-3 w-3 mr-0 ml-0 text-gray-500 v2-text-gray-500 cursor-pointer"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <!-- Font Awesome Free 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) -->
                        <path
                          d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z">
                        </path>
                      </svg>
                    </div>
                  </div>
                  <div [ngClass]="{ 'show': isDropdownVisible }" style="top: 42px; position: absolute;"
                    id="showFromDropDown" class="dropdown-filter z-50 shadow-lg dropdown-menu w-full text-dark">
                    <div class="p-2">
                      <input #fromCountry name="doNotAutofill0.11462820164262011" type="search" autocomplete="off"
                        role="combobox" aria-haspopup="true" aria-expanded="false"
                        data-dusk="Nationality as in Passport"
                        class="w-full h-9 pl-8 text-base rounded-md bg-white border-1 border-solid border-gray-300 flex items-center focus:outline-none focus:border-gray-300 focus:ring-0"
                        (input)="filterCountries(fromCountry.value)">

                    </div>
                    <span class="absolute" style="top: 24px; left: 16px;">
                      <div class="inline-block">
                        <svg class="h-4 w-4 mr-0 ml-0" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 512 512">
                          <!-- Font Awesome Free 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) -->
                          <path
                            d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                          </path>
                        </svg>
                      </div>
                    </span>
                    <div class="scrollable-options h-auto overflow-y-scroll" role="listbox" style="max-height: 200px;">
                      <div role="option"
                        class="option-element py-2 px-3 text-left items-center flex text-md w-full text-base cursor-pointer navigate-item-option"
                        *ngFor="let country of filteredCountries"
                        [ngClass]="{'highlighted-option': country.value === selectedCountry}"
                        (click)="selectCountry(country.value)">
                        {{ country.label }}
                      </div>
                    </div>
                  </div>
                </div>

                <!---->
              </div>
              <div
                class="m-0 py-0 intro-item md:w-1/2 pr-2 md:px-2 h-24 flex flex-col justify-center items-center p-0 w-full relative rounded-br-md rounded-bl-md v2-w-full md:v2-w-1/2">
                <h4 class="mb-2 w-full Title_06_Sb v2-mb-8 v2-text-gray-500 pl-0 text-dark">Where am I Going?</h4>
                <div class="dropdown v2-relative w-full max-w-full" tabindex="0">
                  <div (click)="toggleDropdownTravel()"
                    class="text-dark border-gray-300 border-1 foxtrot Label_02_R v2-rounded-pill v2-w-full focus:v2-ring-gray-500 focus:v2-border-gray-500 hover:v2-border-gray-500 v2-border-1 v2-border-gray-300 v2-p-28 v2-truncate v2-bg-white v2-flex v2-items-center v2-cursor-pointer focus:v2-outline-none v2-border-solid"
                    data-flip="false" style="height: 2.6rem;">
                    <div class="inline-block">
                      <svg class="v2-h-24 v2-w-24 h-4 w-4 ml-2 v2-ml-8 text-primary cursor-pointer v2-hidden"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                        <!-- Font Awesome Free 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) -->
                        <path
                          d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z">
                        </path>
                      </svg>
                    </div>
                    <!---->
                    <div
                      class="v2-flex v2-items-center v2-h-[36px] flex-1 v2-flex-1 v2-pr-16 pl-2 v2-pl-8 truncate v2-truncate"
                      data-dusk="filter-value"><span>{{ selectedTravelCountry ? selectedTravelCountry : "Travel To
                        Destination" }}</span></div>
                    <div class="inline-block">
                      <svg class="v2-h-18 v2-w-18 h-3 w-3 mr-0 ml-0 text-gray-500 v2-text-gray-500 cursor-pointer"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <!-- Font Awesome Free 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) -->
                        <path
                          d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z">
                        </path>
                      </svg>
                    </div>
                  </div>
                  <div [ngClass]="{ 'show': isDropdownTravelVisible }"
                    class="dropdown-filter z-50 v2-shadow-lg shadow-lg dropdown-menu v2-w-full w-full v2-relative relative text-dark"
                    style="padding-top: 0px; position: absolute;">
                    <div class="p-2">
                      <input name="doNotAutofill0.5895615502862448" #toCountry type="search" autocomplete="off"
                        role="combobox" aria-haspopup="true" aria-expanded="false" data-dusk="Traveling to"
                        class="v2-px-24 v2-py-20 v2-border-0 v2-outline-0 v2-rounded-t-xl v2-w-full w-full h-9 pl-8 text-base rounded-md bg-white border-1 border-solid border-gray-300 flex items-center focus:outline-none focus:border-gray-300 focus:v2-ring-0 focus:v2-outline-none focus:v2-ring-0"
                        (input)="filterTravelCountries(toCountry.value)">
                    </div>
                    <span class="absolute v2-absolute v2-hidden" style="top: 16px; left: 16px;">
                      <div class="inline-block">
                        <svg class="v2-h-24 v2-w-24 h-4 w-4 mr-0 ml-0  " fill="currentColor"
                          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                          <!-- Font Awesome Free 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) -->
                          <path
                            d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                          </path>
                        </svg>
                      </div>
                    </span>
                    <div class="scrollable-options h-auto overflow-y-scroll" role="listbox" style="max-height: 200px;">
                      <div role="option"
                        class="option-element py-2 px-3 text-left items-center flex text-md w-full text-base cursor-pointer navigate-item-option"
                        *ngFor="let country of filteredTravelCountries"
                        [ngClass]="{'highlighted-option': country.value === selectedTravelCountry}"
                        (click)="selectTravelCountry(country.value)">
                        {{ country.label }}
                      </div>
                    </div>
                    <!---->
                  </div>
                </div>
                <!---->
              </div>
            </div>
            <div
              class="mb-4 md:w-auto mt-8 sm:mt-4 visachecker_cta flex w-full justify-center md:mb-0 v2-flex v2-items-end v2-w-full lg:v2-w-auto">
              <button type="submit"
                class="btn btn--primary btn--std btn--wide"
                style="z-index: 1;"
                id="btn_visa_checker" data-btn-text="Get Started!">
                <span class="">Get Started!</span><!---->
              </button>
            </div>
          </form>
        </div>
        <!-- Carousel-->
        <div>
        </div>
      </div>
      <div class="z-0 flex justify-end items-end hidden lg:flex">
        <img src="https://d16zz69zs6o3lx.cloudfront.net/img/homepage/bg-hero-girl-en.webp" alt="Girl using iVisa"
          style="transform: translateX(30px)">
      </div>
    </div>
  </div>
</div>


<div class="pb-8 lg:mt-20" id="main">
  <div>



    <div id="most-popular">
      <div class="most-popular-visas-all mb-2 flex flex-col justify-center items-center mt-6 flex-wrap hidden md:flex">
        <div class="flex justify-center items-center">
          <span class="inline-block align-middle bg-secondary mb-2 w-6 md:w-12" style="height: 2px"></span>
          <h2 class="px-2 md:px-4 text-secondary text-center inline">Most Popular Destinations</h2>
          <span class="inline-block align-middle bg-secondary mb-2 w-6 md:w-12" style="height: 2px"></span>
        </div>

        <div class="most-popular-visas text-center w-full max-w-8xl mx-auto">
          <div
            class="flex flex-col justify-center items-center p-3 mx-auto mt-12 mostpopularvisas__content sm:flex-row">
            <div class="mb-12 lg:mb-4">
              <a href="#" class="h-full w-full" aria-label="Click here to learn more">
              </a>
              <div
                class="mostpopularvisas__element shadow flex flex-col mx-6 sm:mx-4 p-0 cursor-pointer justify-center items-center rounded-lg border-transparent border-solid">
                <a href="#" class="h-full w-full" aria-label="Click here to learn more">
                  <div class="visa__image flex flex-col items-center justify-center relative">
                    <img class="bkg-country w-full relative" alt="Scenic picture of Denmark - DK"
                      src="https://d16zz69zs6o3lx.cloudfront.net/img/background-country/DK.png">
                    <div class="flex justify-center">
                      <img class="flag-country absolute rounded-full border-white border-3 h-9 w-9 border-solid"
                        alt="Denmark - DK flag" src="https://d16zz69zs6o3lx.cloudfront.net/img/circle-flags/DK.png">
                    </div>
                  </div>
                  <h3 class="text-secondary h-24 flex items-center justify-center px-2">
                    Denmark - DK
                  </h3>

                </a>
                <div class="-mt-4 z-10 justify-center"><a href="#" class="h-full w-full"
                    aria-label="Click here to learn more">
                  </a><a href="#" tabindex="-1" class="">

                    <button type="button" aria-label="Learn More" data-destination="#" data-btn-text="Learn More"
                      class="btn btn--secondary btn--small btn--std flex-row-reverse link-visa-category flex relative visa__button">
                      <span>
                        Learn More </span>

                    </button>

                  </a>
                </div>
              </div>

            </div>
            <div class="mb-12 lg:mb-4">
              <a href="#" class="h-full w-full" aria-label="Click here to learn more">
              </a>
              <div
                class="mostpopularvisas__element shadow flex flex-col mx-6 sm:mx-4 p-0 cursor-pointer justify-center items-center rounded-lg border-transparent border-solid">
                <a href="#" class="h-full w-full" aria-label="Click here to learn more">
                  <div class="visa__image flex flex-col items-center justify-center relative">
                    <img class="bkg-country w-full relative" alt="Scenic picture of Mexico - MX"
                      src="https://d16zz69zs6o3lx.cloudfront.net/img/background-country/MX.png">
                    <div class="flex justify-center">
                      <img class="flag-country absolute rounded-full border-white border-3 h-9 w-9 border-solid"
                        alt="Mexico - MX flag" src="https://d16zz69zs6o3lx.cloudfront.net/img/circle-flags/MX.png">
                    </div>
                  </div>
                  <h3 class="text-secondary h-24 flex items-center justify-center px-2">
                    Mexico - MX
                  </h3>

                </a>
                <div class="-mt-4 z-10 justify-center"><a href="#" class="h-full w-full"
                    aria-label="Click here to learn more">
                  </a><a href="#" tabindex="-1" class="">

                    <button type="button" aria-label="Learn More" data-destination="#" data-btn-text="Learn More"
                      class="btn btn--secondary btn--small btn--std flex-row-reverse link-visa-category flex relative visa__button">
                      <span>
                        Learn More </span>

                    </button>

                  </a>
                </div>
              </div>

            </div>
            <div class="mb-12 lg:mb-4">
              <a href="#" class="h-full w-full" aria-label="Click here to learn more">
              </a>
              <div
                class="mostpopularvisas__element shadow flex flex-col mx-6 sm:mx-4 p-0 cursor-pointer justify-center items-center rounded-lg border-transparent border-solid">
                <a href="#" class="h-full w-full" aria-label="Click here to learn more">
                  <div class="visa__image flex flex-col items-center justify-center relative">
                    <img class="bkg-country w-full relative" alt="Scenic picture of Morocco - MA"
                      src="https://d16zz69zs6o3lx.cloudfront.net/img/background-country/MA.png">
                    <div class="flex justify-center">
                      <img class="flag-country absolute rounded-full border-white border-3 h-9 w-9 border-solid"
                        alt="Morocco - MA flag" src="https://d16zz69zs6o3lx.cloudfront.net/img/circle-flags/MA.png">
                    </div>
                  </div>
                  <h3 class="text-secondary h-24 flex items-center justify-center px-2">
                    Morocco - MA
                  </h3>

                </a>
                <div class="-mt-4 z-10 justify-center"><a href="#" class="h-full w-full"
                    aria-label="Click here to learn more">
                  </a><a href="#" tabindex="-1" class="">

                    <button type="button" aria-label="Learn More" data-destination="#" data-btn-text="Learn More"
                      class="btn btn--secondary btn--small btn--std flex-row-reverse link-visa-category flex relative visa__button">
                      <span>
                        Learn More </span>

                    </button>

                  </a>
                </div>
              </div>

            </div>
            <div class="mb-12 lg:mb-4">
              <a href="#" class="h-full w-full" aria-label="Click here to learn more">
              </a>
              <div
                class="mostpopularvisas__element shadow flex flex-col mx-6 sm:mx-4 p-0 cursor-pointer justify-center items-center rounded-lg border-transparent border-solid">
                <a href="#" class="h-full w-full" aria-label="Click here to learn more">
                  <div class="visa__image flex flex-col items-center justify-center relative">
                    <img class="bkg-country w-full relative" alt="Scenic picture of Portugal - PT"
                      src="https://d16zz69zs6o3lx.cloudfront.net/img/background-country/PT.png">
                    <div class="flex justify-center">
                      <img class="flag-country absolute rounded-full border-white border-3 h-9 w-9 border-solid"
                        alt="Portugal - PT flag" src="https://d16zz69zs6o3lx.cloudfront.net/img/circle-flags/PT.png">
                    </div>
                  </div>
                  <h3 class="text-secondary h-24 flex items-center justify-center px-2">
                    Portugal - PT
                  </h3>

                </a>
                <div class="-mt-4 z-10 justify-center"><a href="#" class="h-full w-full"
                    aria-label="Click here to learn more">
                  </a><a href="#" tabindex="-1" class="">

                    <button type="button" aria-label="Learn More" data-destination="#" data-btn-text="Learn More"
                      class="btn btn--secondary btn--small btn--std flex-row-reverse link-visa-category flex relative visa__button">
                      <span>
                        Learn More </span>

                    </button>

                  </a>
                </div>
              </div>

            </div>
            <div class="mb-12 lg:mb-4">
              <a href="#" class="h-full w-full" aria-label="Click here to learn more">
              </a>
              <div
                class="mostpopularvisas__element shadow flex flex-col mx-6 sm:mx-4 p-0 cursor-pointer justify-center items-center rounded-lg border-transparent border-solid">
                <a href="#" class="h-full w-full" aria-label="Click here to learn more">
                  <div class="visa__image flex flex-col items-center justify-center relative">
                    <img class="bkg-country w-full relative" alt="Scenic picture of Singapore - SG"
                      src="https://d16zz69zs6o3lx.cloudfront.net/img/background-country/SG.png">
                    <div class="flex justify-center">
                      <img class="flag-country absolute rounded-full border-white border-3 h-9 w-9 border-solid"
                        alt="Singapore - SG flag" src="https://d16zz69zs6o3lx.cloudfront.net/img/circle-flags/SG.png">
                    </div>
                  </div>
                  <h3 class="text-secondary h-24 flex items-center justify-center px-2">
                    Singapore - SG
                  </h3>

                </a>
                <div class="-mt-4 z-10 justify-center"><a href="#" class="h-full w-full"
                    aria-label="Click here to learn more">
                  </a><a href="#" tabindex="-1" class="">
                    <button type="button" aria-label="Learn More" data-destination="#" data-btn-text="Learn More"
                      class="btn btn--secondary btn--small btn--std flex-row-reverse link-visa-category flex relative visa__button">
                      <span>
                        Learn More </span>
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>