<!--Main Navigation-->
<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg d-none d-lg-block shadow-sm">
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a class="navbar-brand" href="#"> Roger </a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/career']" routerLinkActive="is-active">Career</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']" routerLinkActive="is-active">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="is-active"> Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']" routerLinkActive="is-active"> Login</a>
        </li>

      </ul>


    </div>
  </nav>

  <!-- Navbar -->

</header>
<!--Main Navigation-->