<div class="">
  <div class="hidden lg:block">
    <div class="text-black" dusk="product-sidebar-summary">
      <div class="sticky">
        <div class="lg:hidden mb-4 flex items-center justify-between">
          <p class="m-0 text-xl">Price Breakdown</p><span class="cursor-pointer">
            <div class="inline-block"><svg
                class="v2-h-36 v2-w-36 h-6 w-6 mr-2 ml-2 v2-mr-8 v2-ml-8 text-gray-500 "
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
            </div>
          </span>
        </div>
        <div class="border-1 rounded-md border-solid border-gray-300 mb-4">
          <div class="mb-4 bg-gray-100 p-4 rounded-md">
            <div class="flex justify-between items-center mb-1"><span class="bold">Documents</span><span
                class="text-xs">1 Applicant</span></div>
            <div class="text-xs">Canada Visitor Visa (10 years, Multiple Entry)</div>
          </div>
          <div class="mb-4 text-xs px-4">
            <div class="flex justify-between mb-1"><span class="mr-4">Government Fees</span><span
                class="text-black">139.00</span></div>
            <div class="flex justify-between"><span class="mr-4">Processing Speed (not selected
                yet)</span><span>-</span></div>
          </div>
        </div><!---->
        <div class="px-4">
          <div class="flex justify-between bold"><span>Total</span><span>Pending selections</span></div>
          <div class="flex justify-between text-xs text-gray-900 mb-2"><span>For all
              applicants</span><!----></div>
        </div>
      </div>
      <div class="hidden lg:block w-full mt-8">
        <button
          class="btn btn--primary btn--std btn--full btnContinue" id="btnContinueSidebar" type="submit"
          data-btn-text="Save &amp; Continue" matStepperNext><span class="">Save &amp;
            Continue</span><!----></button><!---->
        <button class="btn btn--secondary btn--navigation btn--std btn--icon btn--icon--left btnPrevious"
          id="btnPreviousSidebar" data-btn-text="Previous"><span class="">Previous</span>
        </button>
      </div>
    </div>
  </div><!----><!---->
  <div class="left-0 bottom-0 w-full fixed md:hidden bg-white p-4"
    style="z-index: 1000; box-shadow: rgba(17, 18, 17, 0.18) 0px 0px 16px 0px;">
    <div class="flex justify-between items-center">
      <p class="text-dark mb-0 leading-none"><span class="bold text-lg">Total: TBD</span></p><button
        class="btn btn--primary btn--std btnContinue" id="btnContinueUnderSectionMobile" type="submit"
        data-btn-text="Continue"><span class="">Continue</span><!----></button>
    </div>
  </div>
</div>